# floating point
rtl/1stage/adder.v
rtl/1stage/multiplier.v
rtl/1stage/priority_encoder.v


# Under Construction
rtl/1stage/NDP_core.v

# Simulation File
sim/a.out

# Synthesize File
synth/*

# old, backup files
old/*